In [12]:
import mysql.connector as mysql

In [14]:
db = mysql.connect(
    host = 'localhost',
    user = 'root',
    passwd =""
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x0000023299BB1340>

In [15]:
db = mysql.connect(
    host = 'localhost',
    user = 'root',
    passwd =""
)

cursor = db.cursor()

cursor.execute("CREATE DATABASE SENSORS_DATA")

In [16]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = ""
)
cursor =db.cursor()
cursor.execute("SHOW DATABASES")
databases=cursor.fetchall()
print(databases)

[('information_schema',), ('iot_db',), ('mysql',), ('performance_schema',), ('phpmyadmin',), ('sensors_data',), ('test',)]

In [18]:
db=mysql.connect(
    host="localhost",
    user="root",
    passwd="",
    database="sensors_data"
)
cursor=db.cursor()
cursor.execute("SHOW TABLES")
tables=cursor.fetchall()
print(tables)

[]

In [19]:
db=mysql.connect(
    host="localhost",
    user="root",
    passwd="",
    database="sensors_data"
)
cursor=db.cursor()
cursor.execute("CREATE TABLE DHT_DATA (ID INT(12) NOT NULL AUTO_INCREMENT PRIMARY KEY, TEMPERATURE FLOAT(11),HUMIDITY FLOAT(11))")

In [20]:
db=mysql.connect(
    host="localhost",
    user="root",
    passwd="",
    database="sensors_data"
)
cursor=db.cursor()
cursor.execute("SHOW TABLES")
tables=cursor.fetchall()
print(tables)

[('dht_data',)]

In [22]:
db=mysql.connect(
    host="localhost",
    user="root",
    passwd="",
    database="sensors_data"
)
cursor=db.cursor()
cursor.execute("DESC dht_data")
print(cursor.fetchall())

[('ID', 'int(12)', 'NO', 'PRI', None, 'auto_increment'), ('TEMPERATURE', 'float', 'YES', '', None, ''), ('HUMIDITY', 'float', 'YES', '', None, '')]

In [24]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()
## dropping the 'id' column
cursor.execute("ALTER TABLE dht_data DROP ID")
cursor.execute("DESC dht_data")

print(cursor.fetchall())

[('TEMPERATURE', 'float', 'YES', '', None, ''), ('HUMIDITY', 'float', 'YES', '', None, '')]

In [25]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## adding 'id' column to the 'dht_data' table
## 'FIRST' keyword in the statement will add a column in the starting of the table
cursor.execute("ALTER TABLE dht_data ADD COLUMN ID INT(12) NOT NULL AUTO_INCREMENT PRIMARY KEY FIRST")

cursor.execute("DESC dht_data")

print(cursor.fetchall())

[('ID', 'int(12)', 'NO', 'PRI', None, 'auto_increment'), ('TEMPERATURE', 'float', 'YES', '', None, ''), ('HUMIDITY', 'float', 'YES', '', None, '')]

In [40]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()
## defining the Query
query = "INSERT INTO dht_data (TEMPERATURE, HUMIDITY) VALUES (%s, %s)"
## storing values in a variable
values = (36, 58)

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "record inserted")

1 record inserted

In [30]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()
## defining the Query
query = "SELECT * FROM dht_data"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 27.5, 120.0)
(2, 25.0, 98.0)
(3, 25.0, 98.0)

In [32]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT temperature,humidity FROM dht_data"

## getting 'user_name' column from the table
cursor.execute(query)

## fetching all usernames from the 'cursor' object
usernames = cursor.fetchall()

## Showing the data
for username in usernames:
    print(username)

(27.5, 120.0)
(25.0, 98.0)
(25.0, 98.0)

In [33]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dht_data WHERE id = 2"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(2, 25.0, 98.0)

In [34]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dht_data ORDER BY id"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(1, 27.5, 120.0)
(2, 25.0, 98.0)
(3, 25.0, 98.0)

In [37]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dht_data ORDER BY id DESC"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(3, 25.0, 98.0)
(2, 25.0, 98.0)
(1, 27.5, 120.0)

In [41]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dht_data ORDER BY id DESC LIMIT 1"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(5, 36.0, 58.0)

In [42]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "DELETE FROM dht_data WHERE id = 5"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

In [43]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "UPDATE dht_data SET temperature = 19 WHERE id = 1"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()

In [44]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "sensors_data"
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM dht_data"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
print(cursor.fetchall())

[(1, 19.0, 120.0), (2, 25.0, 98.0), (3, 25.0, 98.0), (4, 26.0, 68.0)]

In [45]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "",
    database = "iot_db"
)

cursor = db.cursor()

## defining the Query
query = "DROP TABLE dht_tab"

## executing the query
cursor.execute(query)

In [46]:
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = ""
)

cursor = db.cursor()

## defining the Query
query = "DROP DATABASE IOT_DB"

## executing the query
cursor.execute(query)

In [1]:
import mysql.connector as mysql

In [11]:
db=mysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = '',
    database = 'flask_api'
)
cursor = db.cursor()
cursor.execute('CREATE TABLE DHT_API (id INT(12) NOT NULL UNIQUE AUTO_INCREMENT PRIMARY KEY, TEMPERATURE FLOAT(15), HUMIDITY FLOAT(15))')
#print(cursor.fetchall())

In [12]:
db=mysql.connect(
    host = 'localhost',
    user = 'root',
    passwd = '',
    database = 'flask_api'
)
cursor = db.cursor()
cursor.execute('show tables')
print(cursor.fetchall())

[('dht_api',)]